.poster_body
{

    background-color: #E0EAF5
}


.pcard
{

    float: left;
    margin: 20px;
    height: 450px;
    
}
.hposter
{

text-align: center;
color:#0d2137;

}
.pimg
{
    width: 100%;
    height: 280px;
}